html {
    /* background-color: black; */
    background-image: url("../images/background.png");
    font-family: monospace;
    background-repeat: repeat;
    background-size: 150px 180px;
    background-position: center;
}

/* Astronauts on Space Walk */
#floating1 {
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}
@keyframes floating1 {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0px, 40px); }
    100% { transform: translate(0, -0px); }
}

#floating2 {
    position: static;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}
@keyframes floating2 {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(100px, 50px); }
    100% { transform: translate(0, -0px); }
}

#floating3 {
    position: absolute;
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}
@keyframes floating3 {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, 100px); }
    100% { transform: translate(0px, 0px); }
}

header {
    color: white;
    text-align: center;
}

nav {
    /* font-size: 300px; */
    color: white;
    text-align: center; /* Center-align the content */
}

nav ul {
    /* font-size: 300px; */
    list-style-type: none;
    padding: 0;
    display: inline-block; /* Display the list items in a row */
}

nav ul li {
    /* font-size: 300px; */
    display: inline-block;
    margin: 0 10px; /* Adjust the margin between list items */
    padding: 10px; /* Preserve the padding from the original code */
}

nav ul li a {
    /* font-size: 30px; */
    text-decoration: none;
    display: block;
    color: white;
    padding: 8px 10px;
}

nav ul li a#home:hover:not(.active) {
    background-color: purple;
    color: white;
    
}

nav ul li a#sun:hover:not(.active) {
    background-color: yellow;
    color: black;
    
}

nav ul li a#mercury:hover:not(.active) {
    background-color: lightgray;
    color: black;
    
}

nav ul li a#venus:hover:not(.active) {
    background-color: wheat;
    color: black;
    
}

nav ul li a#moon:hover:not(.active) {
    background-color: grey;
    color: white;
    
}

nav ul li a#earth:hover:not(.active) {
    background-color: green;
    color: lightskyblue;
    
}

nav ul li a#mars:hover:not(.active) {
    background-color: orangered;
    color: white;
    
}

nav ul li a#jupiter:hover:not(.active) {
    background-color: orange;
    color: white;
    
}

nav ul li a#saturn:hover:not(.active) {
    background-color: lightyellow;
    color: black;
    
}

nav ul li a#uranus:hover:not(.active) {
    background-color: lightblue;
    color: white;
    
}

nav ul li a#neptune:hover:not(.active) {
    background-color: navy;
    color: white;
    
}

nav ul li a.SUN{
    background-color: yellow;
    color: black;
}

nav ul li a.MERCURY{
    background-color: lightgray;
    color: black;
}

nav ul li a.VENUS{
    background-color: wheat;
    color: black;
}

nav ul li a.MOON{
    background-color: grey;
    color: white;
}

nav ul li a.EARTH{
    background-color: green;
    color: lightskyblue;
}

nav ul li a.MARS{
    background-color: orangered;
    color: white;
}

nav ul li a.JUPITER{
    background-color: orange;
    color: white;
}

nav ul li a.SATURN{
    background-color: lightyellow;
    color: black;
}

nav ul li a.URANUS{
    background-color: lightblue;
    color: white;
}

nav ul li a.NEPTUNE{
    background-color: navy;
    color: white;
}

.scrollBottom {
    font-size: large;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
}
.scrollTop {
    font-size: large;
    position: fixed;
    top: 20px;
    left: 160px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
}

.footerHide {
    font-size: large;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    /* background-color: #110d0c; */
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
}
.footerShow {
    font-size: large;
    position: fixed;
    top: 20px;
    right: 160px;
    padding: 10px 20px;
    /* background-color: #110d0c; */
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
}

section h2 {
    color: white;
    text-align: center;
}

section p {
    color: white;
    text-align: center;
}

img {
    /* position: unset; */
    display: block;
    margin: auto;
}

.textShow {
    font-size: 50px;
    margin-top: -630px;
    margin-left: 900px;
    /* display: none; */
}

/* Sun Transition */
.hoverEffectSun {
    transition: transform 0.06s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkSun:hover .hoverEffectSun {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Mercury Transition */
.hoverEffectMer {
    transition: transform 0.52s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkMer:hover .hoverEffectMer {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Venus Transition */
.hoverEffectVen {
    transition: transform 0.34s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkVen:hover .hoverEffectVen {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Earth Transition */
.hoverEffectEarth {
    transition: transform 0.319s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkEarth:hover .hoverEffectEarth {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Moon Transition */
.hoverEffectMoon {
    transition: transform 0.784s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkMoon:hover .hoverEffectMoon {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Mars Transition */
.hoverEffectMars {
    transition: transform 0.520s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkMars:hover .hoverEffectMars {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Jupiter Transition */
.hoverEffectJup {
    transition: transform 0.201s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkJup:hover .hoverEffectJup {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Saturn Transition */
.hoverEffectSat {
    transition: transform 0.309s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkSat:hover .hoverEffectSat {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Uranus Transition */
.hoverEffectUra {
    transition: transform 0.339s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkUra:hover .hoverEffectUra {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

/* Neptune Transition */
.hoverEffectNep {
    transition: transform 0.299s ease-in-out; /* Apply transition for smooth movement */
}
.imageLinkNep:hover .hoverEffectNep {
    transform: translateX(-900px); /* Move the image 50px to the right */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px; /* Reduced padding */
    color: white;
    text-align: center;
    font-size: 14px;
    justify-content: center;
}

footer img {
    width: 40px;
    height: 40px;
}