html{
    background-image: url(images/space.jpeg);
    background-repeat: repeat;
    background-size: 150px 180px;
}

header h1{

    color: white;

}

header p{

    color: white;
}
nav ul {
    background-color: bisque;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

nav ul li {
    display: inline-block;
    font-size: 35px;
}

    nav ul li a {
        display: block;
        padding: 8px 10px;
        color: red;
        text-decoration: none;
    }

    nav ul li a:hover {
    color: purple;
    color: black;
}

nav ul li a:hover:not(.active) {
    background-color: lightgray;
    color: darkmagenta;
}
.active{
    width: 100px;
    height: 100px;
    padding: 30px 15px;
    /* background-color: lightgreen; */
    animation-name: myFun;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes myFun{
    0%{
        /* background-color: yellow; */
        /* left: 200px; */
        top: 20px;
    }

    15% {

        top: 30px;
    }

    25% {

        top: 40px;
    }
    
    50%{
        /* background-color: red; */
        top: 50px;
    }
    75%{
        top: 25px;
    }
    100%{
        top: 10px;
    }
}
